
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/javascript/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <title>Layout</title>
</head>
<body>
     @RenderBody()
    <script src="~/javascript/jquery-1.10.2.min.js"></script>
    <script src="~/javascript/knockout/knockout-3.2.0.js"></script>
    <script src="~/javascript/knockout/knockout.validation.js"></script>
    <script src="~/javascript/knockout/zh-CN.js"></script>
    @RenderSection("script",false)
</body>
</html>
