<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
	</configSections>
	<autofac>
		<components>
      <!--DbContext上下文的生命周期为【per-lifetime-scope】即http请求的生命周期 -->
      <component type="Autofac.DataModel.VehicleCheckDBEntities, Autofac.DataModel" 
					   service="System.Data.Entity.DbContext, EntityFramework"
					   instance-scope="per-lifetime-scope"/>
			<component type="Autofac.UnitOfWork.UnitOfWork, Autofac.UnitOfWork" service="Autofac.UnitOfWork.IUnitOfWork, Autofac.UnitOfWork" />
			
			<component type="Autofac.CoreService.Impl.UserManage, Autofac.CoreService" service="Autofac.CoreService.IUserManage, Autofac.CoreService" />
			<component type="Autofac.CoreService.Impl.RoleManage, Autofac.CoreService" service="Autofac.CoreService.IRoleManage, Autofac.CoreService" />
		</components>
	</autofac>
</configuration>
