html {
    background-color: #eee;
}

.blog_head_operation {
    margin-bottom: 10px;
    background-color: #D7D4D4;
    padding: 8px;
    font-size: 14px;
}

    .blog_head_operation .a_logo {
        margin-left: 15px;
        color: #b57979;
    }

    .blog_head_operation .userOperation {
        float: right;
        margin-right: 10px;
    }

.blog_head .blog_head_user {
    margin-left: 30px;
    margin-top: 20px;
}

    .blog_head .blog_head_user .bolg_username {
        font-size: 2em;
        font-weight: bold;
    }

.blog_body {
    margin-top: 30px;
}

    .blog_body .blog_body_8, .blog_body .blog_body_2 {
        /*width: 80%;*/
        /*float: left;*/
        padding-left: 10px;
        padding-right: 10px;
    }

        .blog_body .blog_body_8 .blog_info_render {
            /*margin-left: 4px;
            margin-right: 4px;*/
            overflow: hidden;
        }

    .blog_body .blog_body_2 {
        /*width: 20%;*/
        /*float: right;*/
        /*padding-left: 15px;
        padding-right: 15px;*/
        /*padding-right: 25px;*/
    }

        .blog_body .blog_body_2 .div_soso_n {
            float: left;
            margin-right: 40px;
            margin-bottom: 20px;
        }

/*.blog_body_2 .blog_info_bind {
            margin-right: 10px;
        }*/
.blog_type {
    float: left;
    margin-left: 4px;
}

.blog_tag {
    /*float: left;*/
    margin-left: 4px;
}

.blog_type, .blog_tag {
    border-top: 1px dotted #c6bebe;
    padding: 4px;
    /*padding-left: 8px;*/
}

.div_soso {
    padding-left: 4px;
}

.blog_type a, .blog_tag a {
    padding-top: 3px;
    margin: 6px;
    /*display: block;*/
}

.blog_tag {
    margin-top: 5px;
}

.text_soso {
    background: #fff url('/Imgs/search_24px_1172758_easyicon.net.png') no-repeat;
    text-indent: 24px;
    height: 27px;
    border: 1px solid #c6bebe;
    float: left;
    outline: 0px solid #c6bebe;
    width: 80%;
}

.but_soso {
    height: 27px;
    width: 20%;
    outline: none;
    background-color: #D7D4D4;
    border: 0px solid #ffffff;
    color: #b57979;
    font-size: 14px;
    font-weight: 800;
}

    .but_soso:hover {
        background-color: #e1d7d7;
        border: 0px solid #ffffff;
    }

    .but_soso:active {
        background-color: #beb7b7;
        border: 0px solid #ffffff;
    }


.div_soso_n {
    background-color: #D7D4D4;
    padding: 3px;
    width: 100%;
}

.footer a {
    color: #484444;
}

    .footer a:hover {
        color: red;
    }

.footer div {
    margin-top: 3px;
}

.footer {
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 60px;
    padding: 10px;
}

.TrafficStatistics {
    display: none;
}

.blog_usercode {
    display: none;
}

div.cnblogs_code, .imgOverflow {
    border: 1px solid #ccc;
    /*word-wrap: break-word;*/ /*溢出内容 自动换行*/
    overflow: auto; /*自动出现滚动条*/
    background-color: #f5f5f5;
    padding: 5px;
    margin: 5px 0;
    color: #484444;
}
