body
{
    font: 12px 宋体;
    margin: 0px;
    padding: 0px;
}
#chatMain
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -350px;
    width: 700px;
    height: 500px;
}
#Friends
{
    float: left;
    width: 200px;
    height: 100%;
}
#Friends .title
{
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    background-color: #eee;
    border-bottom: solid 1px #ccc;
}
#Friends .list_online, #Friends .list_offline
{
    height: 244px;
    border: solid 1px #ccc;
}
#Friends .list_offline
{
    margin-top: 10px;
}
#Friends .list
{
    height: 222px;
    overflow-y: auto;
}
#Friends .list .user
{
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    width: 193px;
}
.user_detail
{
    position: absolute;
    width: 200px;
    height: 100px;
    border: solid 1px #ccc;
    background-color: #fff;
}
#tabFriend
{
    position: absolute;
    width: 200px;
    height: 80px;
    border: solid 1px #ccc;
    background-color: #fff;
}
#tabFriend .title
{
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    border-bottom: solid 1px #ccc;
    background-color: #eee;
}
#tabFriend .label
{
    width: 40px;
    text-align: center;
}
#Messages
{
    float: right;
    width: 450px;
    height: 100%;
}
#Messages .user_info
{
    height: 100px;
}
#my_info
{
    float: left;
    width: 220px;
    height: 100%;
    border: solid 1px #ccc;
}
#friend_info
{
    float: right;
    width: 220px;
    height: 100%;
    border: solid 1px #ccc;
}
#my_info .label, #friend_info .label
{
    width: 40px;
    text-align: center;
}
#my_info .title, #friend_info .title, #Messages .chat .title
{
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    border-bottom: solid 1px #ccc;
    background-color: #eee;
}
#Messages .chat
{
    margin-top: 10px;
    height: 390px;
    border: solid 1px #ccc;
}
#Messages .message
{
    height: 220px;
    overflow-y: auto;
}
#Messages .message table
{
    width: 100%;
}
#Messages .message .sendmsg .user
{
    padding: 5px;
    color: green;
}
#Messages .message .sendmsg .msg
{
    padding: 5px 5px 5px 10px;
}
#Messages .message .recivemsg .user
{
    padding: 5px;
    color: blue;
}
#Messages .message .recivemsg .msg
{
    padding: 5px 5px 5px 10px;
}
#Messages .send_msg
{
    height: 120px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
#Messages .operate
{
    height: 26px;
}
#txtSendMsg
{
    width: 444px;
    height: 116px;
    border: 0px;
    overflow: hidden;
    overflow-y: auto;
}
#Messages #btnSendMsg
{
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    border: solid 1px #ccc;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
#Messages #btnSendMsg:hover
{
    background-color: #eee;
}
