/Impact/CRM/bin
/Impact/CRM/obj
/Impact/Domain/bin
/Impact/Domain/obj
/Impact/Service/bin
/Impact/Service/obj
/Impact/Infrastructure/bin
/Impact/Infrastructure/obj
obj
Repository
obj
/Impact/packages
