@{
    ViewBag.Title = "ResetPass";
    Layout = "~/Views/Shared/_UserManage.cshtml";
}
@model BlogUsersSet

<style type="text/css">
    .logo {
        /*background-color: #0094ff;*/
        margin: 50px auto;
        margin-bottom: 10px;
        width: 250px;
        text-align: center;
    }

    .div_body {
        background-color: #faf7f7;
        margin: 0px auto;
        margin-top: 0px;
        width: 250px;
        padding: 30px;
        border-color: #808080;
    }

        .div_body div {
            margin: 5px auto;
            width: 200px;
        }

    .txt_user, .txt_pass, .txt_mail, .txt_Nickname {
        width: 200px;
        height: 20px;
    }

    .button {
        width: 75px;
        height: 25px;
    }

    .div_top .resetpass {
        color: #8e5555;
        font-weight: 600;
    }
</style>
@{
    ViewBag.Title = "重置密码";
}



<div class="logo">
    <a href="/">
        <span style="color:#be7a7a;font-size:30px">嗨 博客</span>
        <img src="~/Imgs/bubble_message_hi_64px_1189254_easyicon.net.png" />
    </a>
</div>
<div class="div_body" id="div1">

    @using (Ajax.BeginForm(new AjaxOptions()
    {
        Url = Url.RouteUrl("ControllerAction", new { controller = "UserManage", action = "ResetPass" }),
        OnSuccess = "OnSuccess"
    }))
    {
        <div>
            邮箱：<span class="red">*</span>
            <span class="VeriMess">@Html.ValidationMessageFor(t => t.UserMail)</span>
        </div>
        <div>
            @Html.TextBoxFor(t => t.UserMail, new { @class = "txt_mail" })
        </div>
        <div>
            新密码：
            <span class="red">*</span>
            <span class="VeriMess">@Html.ValidationMessageFor(t => t.UserPass)</span>
        </div>
        <div>
            @Html.PasswordFor(t => t.UserPass, new { @class = "txt_pass" })
        </div>
        <div style="margin-top:15px">
            <input class="button" type="submit" value="重置密码" />
            <span class="VeriMess alertMess"></span>
        </div>
    }
</div>

@*<script src="~/Scripts/jquery-1.8.2.js"></script>*@
@*<script src="~/Scripts/blog/jquery.BlogCommon.js"></script>*@
<script type="text/javascript">
    function OnSuccess(obj) {
        if (ShowAjaxResult(obj, ".alertMess")) {

        }
    }

    //function clickResetPaSS() {
    //    var pass = $(".txt_pass").val();
    //    var mail = $(".txt_mail").val();

    //    if (!pass || !mail) {
    //        alert("请填入必填项~");
    //        return;
    //    }

    //    var dataJson = { "pass": pass, "mail": mail };
    //    $.post("/UserManage/ResetPass", dataJson, function (data) {
    //        if (ShowAjaxResult(data)) {
    //        }
    //    }, "json");
    //}
</script>
