<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-route.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/Module.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/Service.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/Controller.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
