@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/logindemo.css" rel="stylesheet" />
    @RenderSection("cssfiles", false)
</head>
<body>
    <div>
        @RenderSection("content", false)
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/public/utils.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
